/*----------------------
    RESET
----------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
}

#app{
    margin: auto;
}

/*----------------------
    COMMON
----------------------*/
.container{
    max-width: 700px;
}

header, main{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: .625rem;
    filter: drop-shadow(0px 0px 5px white);
}

/*----------------------
    HEADER
----------------------*/
header{
    text-align: center;
    padding: 1.875rem 3.125rem;
    margin-bottom: .625rem;
}

/*----------------------
    MAIN
----------------------*/
main{
    padding: 1.875rem;
}

.email-container__item{
    padding: .625rem;
    margin: .625rem 0;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-icon{
    position: relative;
}

.email-container__item i{
    cursor: pointer;
}

.create_element{
    width: 160px;
    height: 30px;
    position: absolute;
    top: -35px;
    left: -75px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}

.email-container__item #numb-gen{
    display: inline-block;
    margin-right: .625rem;
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
}

.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading h3{
    margin-top: .625rem;
}

/*----------------------
    BG ANIMATION
----------------------*/
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

/*----------------------
    LOADING ANIMATION
----------------------*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}