<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email List</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /VUE.js CDN -->
    <!-- Axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- /Axios CDN -->
</head>
<body>
    <div id="app">
        <div class="container">
            <header>
                <h1>E-MAIL GENERATOR API</h1>
            </header>
            
            <main class="email-container">
                <div v-if="emailList.length === 10" class="email-container__item" v-for="(email, index) in emailList">
                    <span>
                        {{index + 1}})
                        {{email}}
                    </span>
                </div>
                <div v-else class="loading">
                    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <h3>GENERAZIONE IN CORSO</h3>
                </div>
            </main>
        </div>
    </div>

    <script src="js/main.js"></script>
    <!-- Bg Animation -->
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <!-- /Bg Animation -->
</body>
</html>